@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-black: var(--black-color);
  --color-white: var(--white-color);
  --color-secondary: var(--secondary-color);
  --color-secondary-foreground: var(--secondary-color-foreground);
  --color-primary: var(--primary-color);
  --color-primary-foreground: var(--primary-color-foreground);

  --font-cursive: var(--font-instrument-serif);

  --text-7xl: 80px;
  --text-6xl: 61px;
  --text-5xl: 47px;
  --text-4xl: 36px;
  --text-3xl: 27px;
  --text-2xl: 21px;
  --text-xl:  16px;
  --text-xs:  12px;
}

:root {

  --base-color: #1868DB;
  --accent-color: #cdf8ff;


  --black-color: #ECECEC;
  --white-color: #1D1D1E;
  --primary-color: var(--accent-color);
  --primary-color-foreground: #1D1D1E;
  --secondary-color: var(--base-color);
  --secondary-color-foreground: #ECECEC;
}

.light {}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-instrument-serif);
}

@theme inline {
  --animate-meteor-effect: meteor 2s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}
