@import "tailwindcss";

@theme {
  --color-black: #2E2C2F;
  --color-background: #475B63;
  --color-accent: #729B79;
  --color-secondary: #BACDB0; 
  --color-primary: #BB4430;

  --text-7xl: 80px;
  --text-6xl: 61px;
  --text-5xl: 47px;
  --text-4xl: 36px;
  --text-3xl: 27px;
  --text-2xl: 21px;
  --text-xl:  16px;
  --text-xs:  12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-instrument-serif);
}